<h1><%= @user.username %>'s Profile</h1>
Gold: <%= @user.gold%>


<br>
<% if @user.rockle.present? %>
Rockle: <%= link_to @user.rockle.name, rockle_url({id: @user.rockle.id}) %>
<% else %>
<a href="<%= new_user_rockle_url({user_id: @user.id}) %>">Create your rockle!</a>
<% end %>
