<form role="form" id="user-form" action="<%= desired_action %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username: </label>
  <input type="text"
         name="user[username]"
         id="username"
         value="<%= user.username %>">
  <br>
  <label for="password">Password: </label>
  <input type="password"
         name="user[password]"
         id="password">
  <br>
  <button type="submit">Submit</button>
</form>